@import "tailwindcss";

@import "@fortawesome/fontawesome-free/css/all.min.css";
html,
body {
  font-family: 'Heebo', sans-serif;
}

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  
     font-size: var(--text-lg);
    line-height: var(--tw-leading,var(--text-lg--line-height));
  }
  h1, h2, h3, h4 {
    font-family: var(--font-display);
    letter-spacing: -0.01em;
  }

